/* Estilo para el cuerpo de la página */
body {
    background: #c9aa61;
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* Estilo para la zona de la fotografía */
figure {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b09046;
    float: left;
    transition: 3s;
    margin: 0;
}

/* Estilo para el título de la página */
#titulo {
    width: 800px;
    height: 100px;
    background: #87857f;
    float: left;
}

/* Estilo para el subtítulo de la página */
#subtitulo {
    width: 800px;
    height: 100px;
    background: #f5bd3b;
    float: left;
}

/* Estilo para el texto dentro del título */
#titulo p {
    font-size: 45px;
    margin-top: 20px;
    margin-left: 60px;
    font-weight: bold;
    color: #f2e8d0;
}

/* Estilo para el texto dentro del subtítulo */
#subtitulo p {
    font-size: 30px;
    margin-left: 60px;
    font-weight: bold;
    color: #f2e8d0;
}

/* Estilo para el menú de navegación */
nav {
    width: 1000px;
    height: 60px;
    background: #c9aa61;
    float: left;
}

/* Estilo para los elementos de la lista del menú */
nav ul li {
    display: inline-block;
    margin: 5px;
}

/* Estilo para los enlaces en el menú */
nav ul li a {
    color: #000000;
    font-size: 17px;
    text-decoration: none;
    transition: 0.3s;
}

/* Estilo para los enlaces en el menú cuando se hace hover */
nav ul li a:hover {
    font-size: 25px;
    color: #b09046;
}

/* Estilo especial para el enlace "Contacto" en hover */
nav ul li #contacto:hover {
    font-size: 25px;
    color: #c9aa61;
}

/* Estilo para secciones y aside */
section, aside {
    display: inline-block;
    margin: 5px 0px 0px;
    vertical-align: top;
    text-align: justify;
}

/* Estilo para las secciones */
section {
    width: 570px;
    border: 2px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: justify;
    padding: 10px;
    background-color: #87857f;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

/* Estilo para los artículos */
article {
    padding: 20px;
}

/* Estilo para el primer artículo */
#perfil {
    background-color: #f5bd3b;
}

/* Estilo para el segundo artículo */
#miproyecto {
    background-color: #f2e8d0;
}

/* Estilo para el aside */
aside {
    width: 180px;
    position: relative;
    background-color: #b09046;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    font-size: 0.9em;
}
